body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f3f7f8;
    margin: 0;
    padding: 20px;
}

/* כרטיס המשתמש */
#mainUser {
    background-color: #2196f3;
        color: white;
        padding: 20px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        box-shadow: 5 7px 5px rgba(0, 0, 0, 0.2);
        max-width: 600px;
        margin-bottom: 20px;
    }
    
    #mainUser img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }
    
    /* ציטוט */
    #quote {
        font-family: 'Patrick Hand', cursive;
        font-size: 18px;
        margin: 20px 0;
        max-width: 700px;
    }
    
    /* פוקימון */
    #pokemon {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
    
    #pokemon img {
        width: 60px;
        margin-right: 10px;
    }
    
    /* אודות */
    #about {
        max-width: 700px;
        border-top: 1px solid #ccc;
        padding-top: 10px;
        margin-bottom: 30px;
    }
    
    /* חברים */
    #friends {
        position: absolute;
        bottom: 40px;
        right: 40px;
        background-color: #2196f3;
        color: white;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    #friends ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
}

#friends li {
    margin: 5px 0;
}

/* כפתור */
#controls {
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

button:hover {
    background-color: #45a049;
}
